{% extends "app/base.html" %} {% block content %} {% load static %}

<div class="container">
  <h1>Home</h1>

  {% if user is not None %}
  <h1>{{ user.username }}, you are logged in!</h1>

  <!-- Category Filter Button Group -->
  <div class="btn-group" role="group" aria-label="Category Filter">
    {% for category in categories %}
    <a
      href="{% url 'home' %}?category={{ category }}"
      class="btn btn-outline-primary"
      >{{ category }}</a
    >
    {% endfor %}
    <a href="{% url 'home' %}" class="btn btn-outline-primary">None</a>
  </div>

  <div class="row mt-3">
    {% for item in page_obj %}
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="{{ item.image.url }}" class="card-img-top" alt="Image" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">Price: {{ item.price }}</p>
          <p class="card-text">Description: {{ item.description }}</p>
          <p class="card-text">Category: {{ item.category }}</p>
          <a href="{% url 'viewitem' item.id %}" class="btn btn-primary"
            >View</a
          >

          <form method="post">
            {% csrf_token %}
            <button
              type="submit"
              class="btn btn-success"
              name="addtocart"
              value="{{ item.id }}"
            >
              Add To Cart
            </button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% for contact in page_obj %} {# Each "contact" is a Contact model object. #}
<div class="contact">
  {{ contact.full_name|upper }}<br />
  <!-- Add more details or styling as needed -->
</div>
{% endfor %}

<div class="container mt-4">
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a href="?page=1" class="page-link" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          href="?page={{ page_obj.previous_page_number }}"
          class="page-link"
          aria-label="Previous"
        >
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item disabled">
        <span class="page-link"
          >Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages}}</span
        >
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a
          href="?page={{ page_obj.next_page_number }}"
          class="page-link"
          aria-label="Next"
        >
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a
          href="?page={{ page_obj.paginator.num_pages }}"
          class="page-link"
          aria-label="Last"
        >
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock content %}
